.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f2e8cf;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #99D98C;
  width: 100%;
  margin: 20px 0;
}

.challenge p {
  margin-bottom: 5px;
  text-align: left !important; /* Adjusted to the left */
}

.question-text {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 98%;
}
