.finish-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 66.6%;
  background-color: rgba(245, 245, 245, 0.5);
  position: fixed;
  top: 150px;
}
