.finish-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 66.6%;
  background-color: rgba(106, 153, 78, 0.5);
  position: fixed;
  top: 0px;
}

.correctCountP {
  font-size: 50px;
}
